<!doctype html>

<!-- ASSIGN OUR ANGULAR MODULE -->
<html ng-app="fixitBookmarks">
<head>
	<!-- META -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1"><!-- Optimize mobile viewport -->

	<title>Node/Angular Bookmark App</title>

	<!-- SCROLLS -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"><!-- load bootstrap -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<link rel="stylesheet" href="stylesheets/bootstrap.min.css">
	<link rel="stylesheet" href="stylesheets/font-awesome/css/font-awesome.min.css">
	<style>
		html 					{ overflow-y:scroll; }
		body 					{ padding-top:50px; }
		#bookmark-list 				{ margin-bottom:30px; }
		#bookmark-form 	 			{ margin-bottom:50px; }
		.form-group input {margin-bottom: 10px;}
		#description {height:200%;}
	</style>

	<!-- SPELLS -->
	<script src="angular.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script><!-- load angular -->

	<script src="javascripts/controllers/main.js"></script> <!-- load up our controller -->
	<script src="javascripts/services/bookmarks.js"></script> <!-- load our todo service -->
	<script src="javascripts/core.js"></script> <!-- load our main application -->

</head>
<!-- SET THE CONTROLLER -->
<body ng-controller="mainController">
	<div class="container">

		<!-- HEADER AND BOOKMARKS COUNT -->
		<div class="jumbotron text-center">
			<img src="images/bookmax.png">
			<span class="label label-info">{{ bookmarks.length }}</span>
		</div>

		<!-- BOOKMARK LIST -->
		<div id="todo-list" class="row">
			<div class="col-sm-4 col-sm-offset-4">

				

				<!-- LOOP OVER THE BOOKMARKS IN $scope.bookmarks -->
				<div class="checkbox" ng-repeat="bookmark in bookmarks">
					<label>
						<input type="checkbox" ng-click="deleteBookmark(bookmark._id)"> {{ bookmark.title }} <a href="{{ bookmark.webpoint }}">{{bookmark.webpoint }}</a>
					</label>
				</div>

				<p class="text-center" ng-show="loading">
					<span class="fa fa-spinner fa-spin fa-3x"></span>
					<span>load</span>
				</p>

				<p class="text-center" ng-show="info">
					<span>{{ info_text }}</span>
				</p>
				

			</div>
		</div>

		<!-- FORM TO CREATE BOOKMARK -->
		<div id="bookmark-form" class="row">
			<div class="col-sm-8 col-sm-offset-2 text-center">
				<form>
					<div class="form-group">

						<!-- BIND THIS VALUE TO formData.text IN ANGULAR -->
						<input type="text" class="form-control input-lg text-center" placeholder="Title" ng-model="formData.title">
					<input type="text" class="form-control input-lg text-center" placeholder="Web Address" ng-model="formData.webpoint">
					<input type="text" class="form-control input-lg text-center" id="description" placeholder="Description" ng-model="formData.description">
					
					</div>

					<!-- createToDo() WILL CREATE NEW TODOS -->
					<button type="submit" class="btn btn-primary btn-lg" ng-click="createBookmark()">Add</button>
				</form>
			</div>
		</div>

		<div class="text-center text-muted">
			<p><a href="fixitsammie.blogspot.com">fixitsammie</a></p>
			<p>I created this following scotch.io tutorial</p>
			<p>A demo by <a href="http://scotch.io">Scotch</a>.</p>
			<p>Read the <a href="http://scotch.io/tutorials/javascript/creating-a-single-page-todo-app-with-node-and-angular">tutorial</a>.</p>
		</div>

	</div>

</body>
</html>
